.container-home {
    display: grid;
    justify-content: center;
    align-items: center;
    // max-width: 1400px;
    // margin: 0 auto;

    .welcome-text {
        font-size: 4rem;
        color: greenyellow;
        font-weight: 500;
    }

    
}

.register-link {
    margin-top: 20px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    button {
      color: #333;
      text-decoration: underline;
    }
  }

  .button-container {
    display: grid;
    gap: 2rem;
    // flex-direction:row;
    justify-content: center;
    margin: 3rem;
}

  button {
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;

    a {
      color: gold;
    }
  }