.navbar {
  background-color: #333;
  color: white;
  padding: 10px 0;
  

  .login-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    .logo {
      font-size: 1.5rem;
    }

    .nav-list {
      list-style: none;
      display: flex;
      flex-direction: column; // Dodaj flex-direction: column dla urządzeń mobilnych

      li {
        margin-bottom: 10px; // Dodaj margines między elementami dla urządzeń mobilnych

        a {
          text-decoration: none;
          color: white;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    @media (min-width: 768px) {
      // Dodaj style dla większych ekranów
      .nav-list {
        flex-direction: row; // Dla większych ekranów wracamy do flex-direction: row
        margin: 0;

        li {
          margin-right: 20px; // Powrót do marginesu dla większych ekranów
          margin-bottom: 0; // Usuń margines dla większych ekranów
        }
      }
    }
  }
}

::ng-deep .mat-mdc-menu-content {
  background-color: lightblue;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 150px;
  z-index: 100;
}

::ng-deep .mat-mdc-menu-panel {
  margin-left: 100rem;
  margin-top: -8rem !important;
  /* top: -28rem; */
  justify-content: center;
  display: flex;
  position: absolute !important;
  transform-origin: 0% !important;
}

