.navbar {
  background-color: #464444;
  color: white;
  padding: 20px;
  min-width: 350px;

  .navbar-container {
    min-width: 300px;
    .pages {
      display: none;
    }
    @media (min-width: 768px) {
      .pages {
        display: flex;
      }
    }
  }

  .login-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .welcome-container {
      display: flex;
      background-color: white;
      width: fit-content;
      padding-left: 0.9rem;
      padding-right: 0.9rem;
      height: 35px;
      border: none;
      border-radius: 0.8rem;
      gap: 0.5rem;
      align-items: center;
      cursor: pointer;

      .welcome-user {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 1rem;
        font-weight: 600;
      }
      mat-icon {
        color: black;
        font-size: 1.5rem;
      }
    }

    .buttons-container {
      display: flex;
      gap: 1rem;
    }

    .nav-btn-login {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(35, 34, 34);
      border: none;
      border-radius: 0.8rem;
      padding-left: 0.9rem;
      padding-right: 0.9rem;
      height: 35px;
      width: 6rem;
      cursor: pointer;

      span {
        font-size: 1rem;
        font-weight: 500;
        color: white;
      }
    }

    .nav-btn-sign {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border: none;
      border-radius: 0.8rem;
      padding-left: 0.9rem;
      padding-right: 0.9rem;
      height: 35px;
      width: 6rem;
      cursor: pointer;

      span {
        font-size: 1rem;
        font-weight: 500;
        color: black;
      }
    }
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    .logo {
      font-size: 1.5rem;
    }

    .nav-list {
      list-style: none;
      display: flex;
      flex-direction: column;

      li {
        margin-bottom: 10px;

        a {
          text-decoration: none;
          color: white;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    @media (min-width: 768px) {
      .nav-list {
        flex-direction: row;
        margin: 0;

        li {
          margin-right: 20px;
          margin-bottom: 0;
        }
      }
    }
  }
}

::ng-deep .mat-mdc-menu-content {
  background-color: lightblue;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 150px;
  z-index: 100;
}

::ng-deep .mat-mdc-menu-panel {
  margin-left: 100rem;
  margin-top: -8rem !important;
  justify-content: center;
  display: flex;
  position: absolute !important;
  transform-origin: 0% !important;
}

.menu-content {
  position: absolute;
  top: 6%;
  right: 5rem;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

.menu-content button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 8px 12px;
  border: none;
  background: none;
  cursor: pointer;
}

.menu-content button:hover {
  background-color: #f0f0f0;
}

@media (min-width: 768px) {
  .navbar {
    width: calc(100% - 45px);
    overflow-x: hidden;
  }
}

@media (min-width: 768px) {
  .navbar-container {
    max-width: 1350px;
  }
}
