<div class="register-container">
  <p>Register</p>
  <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="model.username"
        placeholder="Username"
      />
    </div>

    <!-- TODO: później dodać jeszcze te dwie zmienne -->
    <!-- <div class="form-group">
      <label for="lastname">Lastname</label>
      <input
        type="text"
        id="lastname"
        name="lastname"
        [(ngModel)]="model.lastname"
        placeholder="Enter your lastname"
      />
    </div> -->
    <!-- <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="model.email"
        placeholder="Enter your email"
      />
    </div> -->
    <!-- <div class="form-group">
      <label for="phone">Phone</label>
      <input
        type="phone"
        id="phone"
        name="phone"
        [(ngModel)]="model.phone"
        placeholder="Enter your phone number"
      />
    </div> -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="model.password"
        placeholder="Password"
      />
    </div>
    <div class="buttons-container">
      <button type="submit" class="btn-login">
        <span>Register</span>
      </button>
      <button type="button" class="btn-login" (click)="cancel()">
        <span>Cancel</span>
      </button>
    </div>
  </form>
  <p class="login-link">
    Already have an account? <a href="/login">Go to login</a>
  </p>
</div>
