<div class="bg-page">
  <div class="page-container">
    <div class="content-container">
      <div class="register-left-container">
        <div class="text-container">
          <p>Manage your Money</p>
          <p>Everywhere</p>
        </div>
      </div>
      <div class="form-container">
        <div class="title-container">
          <h1>Pay</h1>
        </div>
        <app-register-form></app-register-form>
        <div class="link-container">
          <p>Already have an account?</p>
          <button><a href="/register">Go to login</a></button>
        </div>
      </div>
    </div>
  </div>
</div>
